{% extends 'main/layout.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="info-card">
    <h2>Создание профиля</h2>
    <p>Присоединяйтесь к нашему сообществу исследователей Красноярска!</p>
</div>
{% endblock %}

{% block auth_content %}
    <h2 class="auth-title" style="font-size: 22px; margin-bottom: 5px;">РЕГИСТРАЦИЯ</h2>
    <form method="post" enctype="multipart/form-data" class="nav" style="gap: 4px; align-items: flex-start; width: 100%;">
        {% csrf_token %}

        {% for field in form %}
            <div style="width: 100%; text-align: left;">
                <label style="font-size: 11px; color: var(--muted); margin-bottom: 2px; display: block;">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div style="color: #ff6b6b; font-size: 10px; line-height: 1; margin-top: 2px;">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn-large" style="background: rgba(120, 95, 140, 0.9); width: 100%; margin-top: 5px; padding: 6px;">Создать</button>
        <a href="{% url 'login' %}" class="auth-link" style="width: 100%; text-align: center; margin-top: 2px; font-size: 13px;">Уже есть аккаунт?</a>
    </form>
{% endblock %}