{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Путеводитель{% endblock %}
{% block body_class %}no-scroll{% endblock %}

{% block content %}

<div class="guide-page">

    <h1 class="guide-title">Путеводитель</h1>

    <!-- ПОИСК -->
    <div class="guide-top-bar">

        <input
            type="text"
            placeholder="Введите название для поиска"
            class="guide-search"
            id="guideSearch"
        >

        <button class="guide-filter-btn" id="filterBtn">
            ☰
        </button>

    </div>

    <!-- ФИЛЬТР -->
    <div class="guide-filter-popup" id="filterPopup">
        <label>
            <input type="radio" name="category" value="culture">
            Культура и история
        </label>

        <label>
            <input type="radio" name="category" value="religion">
            Религия
        </label>

        <label>
            <input type="radio" name="category" value="nature">
            Отдых на природе
        </label>

        <label>
            <input type="radio" name="category" value="visit">
            Визит-центры
        </label>
    </div>

    <!-- СЕТКА -->
    <div class="guide-grid">

        {% for place in places %}

        <div class="guide-card" data-category="{{ place.category }}">

            <!-- КАРТИНКА -->
            <div class="guide-image-wrapper">

                <img src="{{ place.image.url }}" class="guide-image">

                <!-- КНОПКИ ПРИ НАВЕДЕНИИ -->
                <div class="guide-hover-actions">

                    <button class="guide-icon-btn">
                        ♡
                    </button>

                    <button class="guide-icon-btn">
                        ＋
                    </button>

                </div>

            </div>

            <!-- НАЗВАНИЕ -->
            <div class="guide-card-title">
                {{ place.title }}
            </div>

            <!-- РАСКРЫТИЕ -->
            <div class="guide-expanded">

                <div class="guide-info">

                    <p>{{ place.price }}</p>

                    <p>{{ place.address }}</p>

                    <p>{{ place.work_time }}</p>

                    <p>{{ place.short_description }}</p>

                </div>

                <!-- КНОПКИ ВНИЗУ -->
                <div class="guide-detail-actions">

                    <button class="guide-icon-btn">
                        ♡
                    </button>

                    <button class="guide-icon-btn">
                        ＋
                    </button>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}