{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Избранное{% endblock %}
{% block body_class %}no-scroll{% endblock %}

{% block content %}
<div class="guide-page custom-scroll">
    <h1 class="text-center mb-4">Избранное</h1>

    {% if favorites %}
    <div class="guide-grid">
        {% for item in favorites %}
        <div class="guide-card">

            <div class="guide-image-wrapper">
                <img src="{{ item.guide.image.url }}" class="guide-image">

                <div class="guide-hover-actions">
                    <a href="{% url 'remove_favorite' item.guide.id %}" class="btn-more guide-icon-btn">
                        <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M56.25 18.75L18.75 56.25M18.75 18.75L56.25 56.25" stroke="#FFFCFC" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                    <button class="guide-icon-btn">
                        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M30 27.5V42.5M22.5 35H37.5M55 47.5C55 48.8261 54.4732 50.0978 53.5355 51.0355C52.5979 51.9732 51.3261 52.5 50 52.5H10C8.67392 52.5 7.40215 51.9732 6.46447 51.0355C5.52678 50.0978 5 48.8261 5 47.5V12.5C5 11.1739 5.52678 9.90215 6.46447 8.96447C7.40215 8.02678 8.67392 7.5 10 7.5H22.5L27.5 15H50C51.3261 15 52.5979 15.5268 53.5355 16.4645C54.4732 17.4021 55 18.6739 55 20V47.5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="guide-card-title">
                {{ item.guide.title }}
            </div>

            <div class="guide-expanded">
                <div class="guide-detail-actions">
                    <a href="{% url 'remove_favorite' item.guide.id %}" class="btn-more guide-icon-btn-low">
                        ✕
                    </a>
                </div>

                <div class="guide-info">
                    <p>{{ item.guide.price }}</p>
                    <p>{{ item.guide.address }}</p>
                    <p>{{ item.guide.work_time }}</p>
                    <p>{{ item.guide.short_description }}</p>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="empty-favorites">
        У вас пока нет избранного
    </div>
    {% endif %}
</div>
{% endblock %}