.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
}

.about-title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1.1;

    margin-top: 0;
    padding-top: 8px;
}

.about-glass-card {
    background: #d2d2d2;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: var(--radius-lg);
    padding: 60px;
    max-width: 600px;
    width: 100%;
    color: black;
    line-height: 1.6;
    text-align: left;
}

.about-glass-card p {
    font-size: 1.1rem;
}

.about-footer {
    margin-top: 30px;
    font-size: 0.9rem;
    opacity: 0.8;
    font-style: inherit;
    text-align: center;
}

#mail {
    color: #555555;
}

#log {
    font-size: 22px;
}

@media (max-width: 768px) {
    .about-container {
        justify-content: start;
    }

    .about-glass-card {
        text-align: justify;
        max-width: 400px;
        padding: 40px;
    }

    .about-glass-card p {
        font-size: 12px;
    }

    #log {
        font-size: 16px;
    }
}