{% extends 'main/layout.html' %}
{% load static %}

{% block title %}О нас{% endblock %}
{% block body_class %}no-scroll{% endblock %}

{% block content %}
<div class="page custom-scroll">
    <h1 class="text-center mb-4">О нас</h1>
    <div class="about-container">

        <div class="about-glass-card">
            <p>
                <strong>Ваш Туризм</strong> — студенческий проект, разработанный в рамках ВКР. Сайт предназначен для изучения достопримечательностей в г. Красноярск.
            </p>
            <p>
                <br>Как с нами связаться
            </p>
            <p class="about-footer">
                Почта
            </p>
        </div>
    </div>
</div>
{% endblock %}
