{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}
{% block body_class %}no-scroll home-page{% endblock %}

{% block content %}
<div class="background_home">
    <div class="info-card">
        <h2>О сайте</h2>
        <p><strong>Ваш Туризм</strong> — студенческий проект, сделанный для изучения достопримечательностей в г. Красноярск.</p>
        <p>Мы хотим, чтобы людям было удобно и интересно создавать собственные маршруты.</p>
    </div>

    <div class="info-card-low">
        <p>Сайт находится на этапе разработки, некоторые функции могут работать некорректно.</p>
        <p>Мы обещаем стараться :D</p>
    </div>

    <div class="bottom-actions">
        <a href="{% url 'guide' %}" class="btn-large">Путеводитель</a>
        <a href="{% url 'events_home' %}" class="btn-large">События</a>
        {% if user.is_authenticated %}
            <a href="{% url 'create_tour' %}" class="btn-large">Собери тур</a>
        {% else %}
            <a href="javascript:void(0)" onclick="showAuthToast(); return false;" class="btn-large">Собери тур</a>
        {% endif %}
    </div>
</div>
{% endblock %}