{% extends 'main/layout.html' %}
{% load static %}

{% block title %}События{% endblock %}
{% block body_class %}no-scroll{% endblock %}

{% block content %}
<div class="guide-page custom-scroll">
    <h1 class="text-center mb-4">События</h1>

    <div class="guide-grid">
        {% for event in events %}
        <div class="guide-card">

            <div class="guide-image-wrapper">
                {% if event.image %}
                    <img src="{{ event.image.url }}" class="guide-image" alt="{{ event.title }}">
                {% endif %}
                <div class="guide-hover-actions"></div>
            </div>

            <div class="guide-card-title">
                {{ event.title }}
            </div>

            <div class="guide-expanded">
                <div class="guide-info">
                    <p style="font-weight: bold; margin-bottom: 5px;">📅 Дата: {{ event.date|date:"d.m.Y" }}</p>
                    <p style="font-weight: bold; margin-bottom: 15px;">📍 Место: {{ event.location }}</p>
                    <p>{{ event.description|linebreaksbr }}</p>
                </div>
            </div>

        </div>
        {% empty %}
        <p class="no-events">Событий пока нет</p>
        {% endfor %}
    </div>
</div>
{% endblock %}